.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-container {
  text-align: center;
  width: 100%; /* Ensure the title container spans the full width */
  padding: 20px 0;
}

.form-bb-label{
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 0%;
  padding: 2.5%;
  padding-bottom: 0.5%
}

/* Style for the tabs container */
.tabs {
  display: flex;
}

/* Style for each tab */
.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
}

/* Style for active tab */
.tab.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #ccc;
}

/* Style for the tab content */
.tab-content {
  padding: 20px;
}